@media screen and (min-width: 768px) {
	.menubar {
		display: none;
	}
	.navbar {
		display: flex;
		font-size: 18px;
		font-weight: bold;
		text-transform: uppercase;
	}
	.progress-img img {
	    max-width: 100%;
	    margin-bottom: 5px;
	    height: 400px;
	}
}